* {
    box-sizing: border-box;
}

body  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3b0ac2;
    margin: 0;
    overflow: hidden;
}

.navbar {
    padding: 1rem 5rem;
    padding-left: 10rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.navbar h2 {
    display: inline-block;
    font-size: 3rem;
    margin: 0 auto;
    font-family: Tahoma;
    font-weight: normal;
    padding-left: 1rem;
    transform: translateY(-25%);
}

.navlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.navlist li {
    padding: 1rem 2rem;
}

.navlist li:last-of-type {
    border-left: solid white;
}

.navlist li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, p {
    color:#1db954;
    font-weight: bold;
}

h1 {
    font-size: 6em;
    width: 45%;
    margin-bottom: 1rem;
}

button {
    background-color: #1db954;
    color: white;
    height: 3rem;
    width: 15rem;
    border: none;
    border-radius: 2rem;
    font-size: small;
    font-weight: bolder;
}

.tab {
    margin-left: 1.5em;
}