*{
    box-sizing: border-box;
}

body{
    background-color: rgba(253, 253, 253, 0.575);
    margin: 25px;
    text-align: center;
    margin-top: 120px;
}

.header{
    position: fixed; /* makes the navigation bar sticky*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    /* background: #020e16; */
    background-color: rgb(245, 247, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.logo{
    position: relative;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 17px;
    color: rgb(0,0,0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

a:hover{
    text-decoration: none;
    border-bottom: 2px solid black;
}


.set{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}

.container{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    flex-wrap: nowrap;
    /* border: 1px solid black; */
    width: 25%;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px;
    padding-bottom: 20px;
}
.check{
    color: black;
}

.details{
    text-align: left;
    padding-right: 17px;
}
ul {
    padding-left: 2rem;
    list-style: none;
}

ul li:before {
    text-align: left;
    content: '✔     ';
    /* color: aquamarine; */
} 
li{
    margin: 5px 0;
}

input[type="button"]{
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="button"]{
    border: 0;
    background-color: green;
    color: white;
    font-weight: 700;
}