*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #020e16;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.logo{
    position: relative;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 17px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

a:hover{
    text-decoration: none;
    border-bottom: 2px solid white;
}

section.main{
    padding: 20px;
    margin-top: 70px;
    height: 700px;
} 