* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.10rem;
    background-color: blanchedalmond;
    overflow-x: hidden;
}

.side-nav {
    height: 100%;
    width: 15%;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    position: sticky;
    left: 0;
}

.side-nav h3 {
    cursor: pointer;
}

.side-nav p {
    font-size: smaller;
    color: grey;
}

.nav-list {
    list-style-type: none;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.nav-list li {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-list li:hover {
    background-color: orange;
}

.nav-list a {    
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1rem;
}

.nav-list a:hover {
    color: azure;
}

.top {
    width: 100%;
    height: 5rem;
    background-color: bisque;
    position: absolute;
    top: 0;
    left: 15%;
}

.top img {
    width: 3rem;
    position: absolute;
    top: 20%;
    margin-left: 1rem;
}

.top img:hover {
    cursor: pointer;
}

.page-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 30%;
    margin: 1rem;
    padding: auto;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
    .body {
        font-size: medium;
    }
}

/* For Tablet View */
@media screen and (min-width: 768px) 
    and (max-width: 1024px) {
    body {
        background-color: orange;
        color: black;
        font-size: small;
    }

    .side-nav img {
        width: 5rem;
    }
}
 
/* For Mobile View */
@media screen
    and (max-width: 640px) {
    body {
        font-size: x-small;
    }

    .side-nav h3 {
        font-size: small;
    }

    .side-nav p {
        opacity: 0;
    }

    .side-nav img {
        margin-top: -1.5rem;
        width: 3rem;
    }

    .top img {
        width: 2rem;
        top: 35%;
    }
}